[Unit]
Description=SenseHAT Environmetal Sensors MQTT
After=network.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/opt/iotdemo/bin/environment-pub

[Install]
WantedBy=multi-user.target
