flask
markupsafe
requests
-e git://github.com/adafruit/Adafruit_Python_GPIO#egg=Adafruit-GPIO-0.9.3
-e git://github.com/adafruit/Adafruit_Python_LED_Backpack.git#egg=Adafruit-LED-Backpack
-e git://github.com/adafruit/Adafruit-Motor-HAT-Python-Library.git#egg=Adafruit-MotorHAT
