<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Unicorn Paint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/jquery.colorpickersliders.css">
    <link rel="stylesheet" type="text/css" href="/static/unicorn-paint.css">
</head>
<body>


    <div class="unicorn">
        
        <div class="palette">
            <ul>
                <li style="background:rgb(0,0,0);"></li>
                <li style="background:rgb(132,0,0);"></li>
                <li style="background:rgb(0,132,0);"></li>
                <li style="background:rgb(132,132,0);"></li>
                <li style="background:rgb(0,0,132);"></li>
                <li style="background:rgb(132,0,132);"></li>
                <li style="background:rgb(0,132,132);"></li>
                <li style="background:rgb(132,132,132);"></li>
                <li style="background:rgb(198,198,198);"></li>
                <li style="background:rgb(255,0,0);"></li>
                <li style="background:rgb(0,255,0);"></li>
                <li style="background:rgb(255,255,0);"></li>
                <li style="background:rgb(0,0,255);"></li>
                <li style="background:rgb(255,0,255);"></li>
                <li style="background:rgb(0,255,255);"></li>
                <li style="background:rgb(255,255,255);"></li>
            </ul>
        </div>
        <div class="current"></div>
        <div class="mc">
        </div>
        
    </div>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/tinycolor.js"></script>
    <script type="text/javascript" src="/static/jquery.colorpickersliders.js"></script>
    <script type="text/javascript" src="/static/unicorn-paint.js"></script>
</body>
</html>
