<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pimoroni_sts_pi_gazebo)/worlds/myworld.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!--<arg name="scan_topic" default="kinect_scan"/>-->
  
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pimoroni_sts_pi_gazebo)/urdf/pimoroni_sts_pi.xacro'"/>

  <node name="pimoroni_sts_pi_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model pimoroni_sts_pi" />

</launch>
