Source: phatbeat
Maintainer: Phil Howard <phil@pimoroni.com>
Homepage: https://github.com/pimoroni/phat-beat
Section: python
Priority: extra
Build-Depends: debhelper (>= 9.0.0), dh-python, python-all (>= 2.7), python-setuptools, python3-all (>= 3.4), python3-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: python-phatbeat
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-rpi.gpio
Suggests: pulseaudio
Description: Python library for the Pimoroni pHAT BEAT.
 PHAT BEAT provides a stereo amplifier, VU meter and five buttons.
 .
 This is the Python 2 version of the package.

Package: python3-phatbeat
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python3:Depends}, python3-rpi.gpio
Suggests: pulseaudio
Description: Python library for the Pimoroni pHAT BEAT.
 PHAT BEAT provides a stereo amplifier, VU meter and five buttons.
 .
 This is the Python 3 version of the package.
