<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <h1>Raspberry Pi Internet 'Thing' Part 1</h1>
        <p>Hello world! Welcome to my internet thing!</p>
        <h3>Switch: {{ 'On' if switch else 'Off' }}</h3>
        <p>
          <button type='button' id='led_on'>LED ON</button>
          <button type='button' id='led_off'>LED OFF</button>
        </p>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script>
          $(document).ready(function() {
            $('#led_on').click(function() {
              $.post('/led/1');
            });
            $('#led_off').click(function() {
              $.post('/led/0');
            });
          });
        </script>
    </body>
</html>
